a:link {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: purple;
  text-decoration: underline;
}

.container {
  overflow: hidden;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 300px 300px 300px;
  border: 1px solid black;
  gap: 10px;
  padding: 10px;
}

.filterDiv {
  display: inline-grid;
  grid-template-columns: 300px 300px 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
  
div.date {
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
  font-size: 10pt;
}

div.article {
  background-color: white;
  width: 1000px;
  border: 1px solid black;
  padding: 10px;
  font-size: 14pt;
  font-family: Georgia;
  line-height: 1.5;
  white-space: pre-wrap;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Try in pages Style cell*/
img.outline {
  outline-color: black;
  outline-style: solid;
  outline-width: 1px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  }
