pre.article {
  background-color: white;
  width: 1190px;
  border: 1px solid black;
  padding: 10px;
  font-size: 14pt;
  font-family: Georgia;
  line-height: 1.5;
  word-break: break-all;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Try in pages Style cell*/
img.outline {outline-color: black;
  outline-style: solid;
  outline-width: 1px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  }
