a:link {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: purple;
  text-decoration: underline;
}

ul.tags> li{
display: inline-block;
text-align: center;
}

.grid-container {
  display: inline-grid;
  
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(auto);
  align: center;
  
  padding: 10px;
  grid-gap: 10px;

  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
}

.grid-item {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.grid-container-preview {

  padding: 10px;
  grid-gap: 10px;

  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
}  

p.preview {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  line-height: 1.5;
  color: black;
}
  
div.date {
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
  font-size: 10pt;
}

div.article {
  background-color: white;
  width: 1000px;
  border: 1px solid black;
  padding: 10px;
  font-size: 14pt;
  font-family: Georgia;
  line-height: 1.5;
  white-space: pre-wrap;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Try in pages Style cell*/
img.outline {
  outline-color: black;
  outline-style: solid;
  outline-width: 1px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  }
